<td><%= node.id %></td>
<td><%= node.left %></td>
<td><%= node.right %></td>
<td><%= truncate_node_hash(node.node_hash) %></td>
<td><%= node.height %></td>
<td><%= number_with_precision(node.sum, :precision => 2) %></td>