<td><%= node.id %></td>
<td><%= node.left_id %></td>
<td><%= node.right_id %></td>
<td><%= node.truncated_node_hash %></td>
<td><%= node.height %></td>
<td><%= number_with_precision(node.sum, :precision => 2) %></td>
<td><%= node.node_path %></td>