

    <!-- SIDEBAR
    ============================== -->


    <!-- WRAPPER
    ============================== -->


      <!-- NAVBAR
      ============================== -->
      


      <!-- HERO
      ============================== -->
      <div class="hero hero_agency" id="home">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Hero heading -->
              <h1 class="heading hero__heading animated fadeInUp">Bitcoin Scripts and Smart Contracts. Explained.</h1>

              <!-- Hero subheading -->
              
                <p class="heading__sub hero-heading__sub animated fadeInUp delay_1"><%= link_to 'Users:', users_path %> <%= User.count %> registered.</p>

              <!-- Hero buttons -->
			<% if current_client %>
			<a href="<%= new_script_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your Smart Contract</a>
			<% else %>
			<a href="<%= new_client_registration_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your Smart Contract</a>
			<% end %>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .hero -->

    
      <div class="section" id="about">

        <!-- ABOUT
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">About Bitcoin Scripts</h4>
              <p class="heading__sub">
                Scripting languages date back from thousands of years ago. Mathematic formulae are an example of scripting language. <br />Bitcoin scripts use a specialized <a href="https://en.bitcoin.it/wiki/Script#Words" target="blank">scripting language</a> to write secure smart contracts and complex transactions.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->


        <!-- FEATURES
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-envelope-o"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Prepare your P2SH Address
                  </div>
                  <div class="features-item-body__summary">
                    A Smart Contract is initiated by computing a Bitcoin P2SH address. P2SH stands for Pay-to-Script-Hash, meaning the Contract Script is hashed into a unique address that will serve as a vault for the funds sent to it.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-key"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Spend from the P2SH Address
                  </div>
                  <div class="features-item-body__summary">
                    To spend the funds previously sent to the Smart Contract P2SH address, you will need to provide the original redeem Script as well as one or more private keys required by the Script.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-hourglass-half"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Timelock 
                  </div>
                  <div class="features-item-body__summary">
                    A Script may enforce time conditions that must be met to unlock the funds held at the P2SH address. If you want to spend from the P2SH address of such Script, you may have to wait until the time lock expires.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .section -->

      <div class="section">
        <div class="container">
          <div class="row"> 
            <div class="row-same-height">
              <div class="col-sm-5 col-sm-height col-middle">
                <h4 class="heading heading_left">A Stack-based Scripting System</h4>
                <p class="heading__sub">
                  Bitcoin uses a scripting system for complex transactions. Forth-like, Script is stack-based: instructions are <a href="<%= page_path('op_codes') %>" >1-byte opcodes</a> processed from left to right to be pushed on top of the stack sequentially, left-most first. All values are variable length byte arrays. Script is not Turing-complete, with no loops, for optimal security.
                </p>
              </div>
              <div class="col-sm-7 col-sm-height col-middle">
				<%= image_tag "stack_image.gif", class: "img-responsive" %>
              </div>
            </div> <!-- / .row-same-height -->
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PORTFOLIO
      ============================== -->
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">A portfolio of scripts</h4>
              <p class="heading__sub">
                There are many use cases for Bitcoin scripts.<br /> Stay tuned: you'll find here links to some more demos.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->

        <div class="portfolio__items">

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="<%= page_path('timelocked_address') %>" data-lightbox="portfolio">
					<%= image_tag "hourglass_289548902.jpg", class: "img-responsive" %></a>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        Time Locked Address
                      </div>
                      <div class="portfolio-item-mask__summary">
                        This very simple script sets an expiry date and public key that must be matched to unlock the funds. The funds cannot move from the time locked address until the set expiry date and time. After the expiry, a single private key is required.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="<%= page_path('timelocked_2fa') %>" data-lightbox="portfolio">
                  <%= image_tag "two_keys.jpg", class: "img-responsive" %></a>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        Time Locked 2FA
                      </div>
                      <div class="portfolio-item-mask__summary">
                        The Script requires two keys before the set expiry date and only one key after the expiry date. If one of the keys is yours and the other belongs to a 2FA (2FA stands for two-factor authentication) service provider, the funds can be accessed after the expiry date even if the 2FA service provider has disappeared.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="<%= page_path('contract_oracle') %>" data-lightbox="portfolio">
                  <%= image_tag "contract_120067810.jpg", class: "img-responsive" %></a>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        Contract Oracle
                      </div>
                      <div class="portfolio-item-mask__summary">
                        An external data source can be linked to a P2SH address with a certain value set in the script. The script requires two keys to unlock the funds, one key held by the beneficiary, the other key held by a trusted Oracle whose job is to validate that the value conditions are met.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

		<div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="<%= page_path('hashed_timelocked_contract') %>" data-lightbox="portfolio">
                  <%= image_tag "lightning-network-image.jpg", class: "img-responsive" %></a>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        Hashed Timelocked Contract
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Hashed Timelock Contract (HTLC) as proposed in the lightning.network paper. The receiver can include a 0 or 1 in the scriptSig to choose to enter through if or else branch.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="clearfix"></div>

        </div> <!-- / .portfolio__items -->

      </div> <!-- / .section -->


      <!-- DOWNLOAD
      ============================== -->
      <div class="section section_alt section_download" id="download">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <h4 class="heading">Lightning Network: a compelling use case for Bitcoin scripts</h4>
              <p class="heading__sub">
                The Lightning Network white paper ( draft version 0.5.9.1 dated November 20, 2015) describes a decentralized network for scalable, efficient payment channels. Transactions are sent over this routing network of micropayment channels whose transfer of value occurs off-blockchain. Bitcoin scripts enable time locked and hash locked transactions so that the payment protocol between users, via any number of Lightning Network hubs, remains trustless. This white paper by Joseph Poon and Thaddeus Dryja is probably the most important contribution since the invention of Bitcoin.
              </p>
              <a href="<%= products_path('product.pdf') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download White Paper</a>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PRICING
      ============================== -->

      <!-- TEAM
      ============================== -->
      <div class="section" id="team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Reach out</h4>
              <p class="heading__sub">
                I have developped this website to help you write smart contracts using Bitcoin scripts. If you want to suggest a script be added to this demo portfolio, please let me know.
              </p>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name"></div>
                        <div class="team-item__position"></div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <%= image_tag "team_2.jpg", class: "img-responsive" %>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Pierre Noizat</div>
                        <div class="team-item__position">Script Writer & Coder</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&region=follow_link&screen_name=PierreNoizat&tw_p=followbutton" target="blank" >
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="https://github.com/pierrenoizat" class="team-item-contact__link team-item-contact__link_facebook" target="blank" >
						  <!--<a href="https://fr-fr.facebook.com/Paymium" class="team-item-contact__link team-item-contact__link_facebook" target="blank" >-->
                            <i class="fa fa-github"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name"></div>
                        <div class="team-item__position"></div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

               

              </div> <!-- / .row -->
            </div>

          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- SKILLS
      ============================== -->


      <!-- TESTIMONIALS
      ============================== -->


      <!-- SUBSCRIBE
      ============================== -->


      <!-- CONTACT US
      ============================== -->


      <!-- FOOTER
      ============================== -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              &copy; 2015-2016 Pierre Noizat - Paymium.com. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <div class="footer__social">
                <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&region=follow_link&screen_name=PierreNoizat&tw_p=followbutton" class="footer-social__link footer-social__link_twitter" target="blank" >
	
                  <i class="fa fa-twitter"></i>
                </a>

                <a href="https://fr-fr.facebook.com/Paymium" class="footer-social__link footer-social__link_facebook" target="blank" >
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </footer>
