

    <!-- SIDEBAR
    ============================== -->


    <!-- WRAPPER
    ============================== -->


      <!-- NAVBAR
      ============================== -->
      


      <!-- HERO
      ============================== -->
      <div class="hero hero_agency" id="home">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Hero heading -->
              <h1 class="heading hero__heading animated fadeInUp">Welcome to hashtre.es</h1>

              <!-- Hero subheading -->
              
                <p class="heading__sub hero-heading__sub animated fadeInUp delay_1"><%= link_to 'Users:', users_path %> <%= User.count %> registered.</p>

              <!-- Hero buttons -->
<% if @tree %>
              <a href="<%= tree_path(@tree) %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Example tree</a> 
              <p class="heading__sub hero-heading__sub" style="color:white;">Checkout the example tree with the access key: <% if @tree.leaf_nodes.last %><%= @tree.leaf_nodes.last.nonce.to_s %><% end %></p>
<% else %>
			<a href="<%= new_tree_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your first tree</a> 
<% end %>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .hero -->

    
      <div class="section" id="about">

        <!-- ABOUT
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">About hash trees</h4>
              <p class="heading__sub">
                Trees are our friends. When they are digital, they can be made of hashes. <br />Then, we use those hash trees to build trust.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->


        <!-- FEATURES
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="oi oi-project"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Prepare your list
                  </div>
                  <div class="features-item-body__summary">
                    A hastree is a cryptographic proof of a list's integrity. The list must include an account identifier (account number or login) and some critically important attribute of the account like the account balance.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="oi oi-code"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Format your list file
                  </div>
                  <div class="features-item-body__summary">
                    On hastre.es, the list must be formatted as a csv file with the account identifier first followed by the account balance. The two attributes must be separated by a comma and each account must be listed on a new line. There must be NO empty line at the end of the file.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="oi oi-cart"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Bring your own tree!
                  </div>
                  <div class="features-item-body__summary">
                    First, sign in with your twitter account. Then you will be authorized to upload your own account list as a csv file and to name a new tree. If it is correctly formatted, your csv file will serve as a basis for the computation of your brand new tree.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .section -->

      <div class="section">
        <div class="container">
          <div class="row"> 
            <div class="row-same-height">
              <div class="col-sm-5 col-sm-height col-middle">
                <h4 class="heading heading_left">Interactive Data Visualization</h4>
                <p class="heading__sub">
                  Trees are drawn as interactive SVG graphs using D3, a JavaScript library for manipulating documents based on data. D3 helps us bring data to life using HTML, SVG, and CSS. D3’s emphasis on web standards gives us the full capabilities of modern browsers without tying us to a proprietary framework, combining powerful visualization components and a data-driven approach to DOM manipulation.
                </p>
<% if @tree %>
                <a href="<%= display_tree_path(@tree) %>" class="btn btn-default heading__btn">Sample tree graph</a>
<% end %>
              </div>
              <div class="col-sm-7 col-sm-height col-middle">
				<%= image_tag "sample_merkle_tree_svg.png", class: "img-responsive" %>
              </div>
            </div> <!-- / .row-same-height -->
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PORTFOLIO
      ============================== -->
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Our portfolio of trees</h4>
              <p class="heading__sub">
                Curabitur feugiat risus eu lorem gravida elementum. Etiam mollis faucibus odio eu viverra.<br /> Nulla eu ligula ac lacus porttitor aliquam in sit amet orci.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->

        <div class="portfolio__items">

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
					<%= image_tag "beach_tree.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "duo_of_trees.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "hands-holding-a-small-tree.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "oak.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "tree-wallpaper.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "tree_sunset.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "row_of_trees.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <!--<a href="#" data-lightbox="portfolio">-->
                  <%= image_tag "frosty-trees.jpg", class: "img-responsive" %>
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                <!--</a>-->
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="clearfix"></div>

        </div> <!-- / .portfolio__items -->

      </div> <!-- / .section -->


      <!-- DOWNLOAD
      ============================== -->
      <div class="section section_alt section_download" id="download">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <h4 class="heading">Download white paper</h4>
              <p class="heading__sub">
                Phasellus gravida sem magna, nec maximus quam tincidunt non. Cras molestie nec libero nec hendrerit. Morbi imperdiet, lorem nec rhoncus vehicula, quam orci finibus dolor, non malesuada orci turpis eleifend neque.
              </p>
              <a href="<%= products_path('product.pdf') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download</a>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PRICING
      ============================== -->

      <!-- TEAM
      ============================== -->
      <div class="section" id="team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Meet the professionals</h4>
              <p class="heading__sub">
                Donec blandit ex vitae lectus malesuada ullamcorper. Praesent tempor pharetra leo, id mollis.<br /> Aliquam at venenatis velit. Praesent tincidunt aliquet lectus, et auctor ex.
              </p>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <%= image_tag "team_1.jpg", class: "img-responsive" %>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">David François</div>
                        <div class="team-item__position">Bitcoin Guru</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <%= image_tag "team_2.jpg", class: "img-responsive" %>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Pierre Noizat</div>
                        <div class="team-item__position">Lead Developer</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&region=follow_link&screen_name=PierreNoizat&tw_p=followbutton" target="blank" >
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="https://github.com/pierrenoizat" class="team-item-contact__link team-item-contact__link_facebook" target="blank" >
						  <!--<a href="https://fr-fr.facebook.com/Paymium" class="team-item-contact__link team-item-contact__link_facebook" target="blank" >-->
                            <i class="fa fa-github"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <%= image_tag "team_3.jpg", class: "img-responsive" %>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Nicolas Papon</div>
                        <div class="team-item__position">Code Artist</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

               

              </div> <!-- / .row -->
            </div>

          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- SKILLS
      ============================== -->


      <!-- TESTIMONIALS
      ============================== -->


      <!-- SUBSCRIBE
      ============================== -->
      <div class="section" id="subscribe">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <h4 class="heading">Newsletter signup</h4>


			    <div class="form-inline form_alt subscribe__form">
			      <%= simple_form_for @visitor do |f| %>
			        <%= f.error_notification %>
			
					<div class="form-group">
	                  <label class="sr-only" for="subscribe__name">Name</label>
					  <%= f.input :name, label: false, :class => "form-control input-lg", :id => "subscribe__name", :placeholder => 'Enter your name' %>
	                </div>
	
					<div class="form-group">
	                  <label class="sr-only" for="subscribe__email">Email address</label>
					  <%= f.input :email, label: false, :class => "form-control input-lg", :id => "subscribe__email", :placeholder => 'Enter your email' %>
	                </div>

			        <%= f.button :submit, "Subscribe", :class => "btn btn-primary" %>
			      <% end %>
			    </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- CONTACT US
      ============================== -->
      <div class="container" id="contact">

        <div class="row">
          <div class="col-xs-12">
            <h4 class="heading">Feel free to contact us</h4>
            <p class="heading__sub">
              Donec blandit ex vitae lectus malesuada ullamcorper. Praesent tempor pharetra leo, id mollis.<br />Aliquam at venenatis velit. Praesent tincidunt aliquet lectus, et auctor ex. 
            </p>
          </div>
        </div> <!-- / .row -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

            <!-- Alert message -->
            <div class="alert contact-form__alert" id="form_message" role="alert"></div>

            <!-- Contact form -->


	<%= simple_form_for @contact, :html => {:class => 'contact__form', :id =>"form_sendemail" } do |f| %>
	<div class="row">
        <div class="col-sm-6">
	<div class="form-group">
        <label for="name" class="sr-only">Your name</label>
        <%= f.input :name, :required => true, :name =>"name", :class => "form-control", :id => "name" , :placeholder => "Full Name" %>
        <span class="help-block"></span>
      </div>
	    
		<div class="form-group">
          <label for="email" class="sr-only">Your email address</label>
          <%= f.input :email, :required => true, :name => "email", :class => "form-control", :id => "email", :placeholder => "E-mail" %>
          <span class="help-block"></span>
        </div>
	
	    </div>
	
	<div class="col-sm-6">
		<div class="form-group">
            <label for="message" class="sr-only">Your message</label>
	    <%= f.input :message, :as => :text, :required => true, :name => "message", :class => "form-control", :rows => "9", :id => "message", :placeholder => "Message" %>
		<span class="help-block"></span>
      </div>
    </div>

  </div> <!-- / .row -->
	
	
	    <div class= "hidden">
	      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	    </div>
	    <div>
		
	      <div class="text-center">
	      <%= f.button :submit, 'Send message', :class=> "btn btn-primary", :controller => "contacts", :action => "create" %>
			<div class="clearfix"></div>
        </div>
	</div>
   </div>
  </div>
	  <% end %>


      <!-- FOOTER
      ============================== -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              &copy; 2015 Paymium.com. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <div class="footer__social">
                <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&region=follow_link&screen_name=PierreNoizat&tw_p=followbutton" class="footer-social__link footer-social__link_twitter" target="blank" >
	
                  <i class="fa fa-twitter"></i>
                </a>

                <a href="https://fr-fr.facebook.com/Paymium" class="footer-social__link footer-social__link_facebook" target="blank" >
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </footer>
