

    <!-- SIDEBAR
    ============================== -->


    <!-- WRAPPER
    ============================== -->


      <!-- NAVBAR
      ============================== -->
      


      <!-- HERO
      ============================== -->
      <div class="hero hero_agency" id="home">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Hero heading -->
              <h1 class="heading hero__heading animated fadeInUp">Tumblebit Server Demo</h1>

              <!-- Hero subheading -->
              
                <p class="heading__sub hero-heading__sub animated fadeInUp delay_1"><%= Client.count %> users: <strong><%= link_to "#{Script.count} contracts", scripts_path %></strong></p>

              <!-- Hero buttons -->
			<% if current_client or current_user %>
			<a href="<%= new_script_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your Smart Contract</a>
			<% else %>
			<a href="<%= new_client_registration_path %>" class="hero__btn btn btn-lg btn-primary animated fadeInUp delay_2">Create your Smart Contract</a>
			<% end %>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .hero -->

    
      <div class="section" id="about">

        <!-- ABOUT
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">About Tumblebit</h4>
              <p class="heading__sub">
                Scripting languages date back from thousands of years ago. Mathematic formulae are an example of scripting language. <br />Bitcoin scripts use a specialized <a href="https://en.bitcoin.it/wiki/Script#Words" target="blank">scripting language</a> to write secure smart contracts and complex transactions.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->


        <!-- FEATURES
        ============================== -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-envelope-o"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Prepare your P2SH Address
                  </div>
                  <div class="features-item-body__summary">
                    A Smart Contract is initiated by computing a Bitcoin P2SH address. P2SH stands for Pay-to-Script-Hash, meaning the Contract Script is hashed into a unique address that will serve as a vault for the funds sent to it.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-key"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Spend from the P2SH Address
                  </div>
                  <div class="features-item-body__summary">
                    To spend the funds previously sent to the Smart Contract P2SH address, you will need to provide the original redeem Script as well as one or more private keys required by the Script.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            <div class="col-sm-4">
              <div class="features__item wow fadeIn">
                <div class="features-item__icon">
                  <span class="fa fa-hourglass-half"></span>
                </div>
                <div class="features-item__body">
                  <div class="features-item-body__title">
                    Timelock 
                  </div>
                  <div class="features-item-body__summary">
                    A Script may enforce time conditions that must be met to unlock the funds held at the P2SH address. If you want to spend from the P2SH address of such Script, you may have to wait until the time lock expires.
                  </div>
                </div> <!-- / .features-item__body -->
              </div> <!-- / .features__item -->
            </div>
            
            
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .section -->

      <div class="section">
        <div class="container">
          <div class="row"> 
            <div class="row-same-height">
              <div class="col-sm-5 col-sm-height col-middle">
                <h4 class="heading heading_left">A Stack-based Scripting System</h4>
                <p class="heading__sub">
                  Bitcoin uses a scripting system for complex transactions. Forth-like, Script is stack-based: instructions are <a href="<%= page_path('op_codes') %>" >1-byte opcodes</a> processed from left to right to be pushed on top of the stack sequentially, left-most first. All values are variable length byte arrays. Script is not Turing-complete, with no loops, for optimal security.
                </p>
              </div>
              <div class="col-sm-7 col-sm-height col-middle">
				<%= image_tag "tumblebit_overview.png", class: "img-responsive" %>
              </div>
            </div> <!-- / .row-same-height -->
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- DOWNLOAD
      ============================== -->
      <div class="section section_alt section_download" id="download">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <h4 class="heading">Tumblebit: An Untrusted Bitcoin-Compatible Anonymous Payment Hub</h4>
              <p class="heading__sub">
                This paper presents TumbleBit, a new uni- directional unlinkable payment hub that is fully com- patible with today’s Bitcoin protocol. TumbleBit allows parties to make fast, anonymous, off-blockchain payments through an untrusted intermediary called the Tumbler. TumbleBit’s anonymity properties are similar to classic Chaumian eCash: no one, not even the Tumbler, can link a payment from its payer to its payee. Every payment made via TumbleBit is backed by bitcoins, and comes with a guarantee that Tumbler can neither violate anonymity, nor steal bitcoins, nor “print money” by issuing payments to itself.
              </p>
              <a href="<%= products_path('tumblebitpaper.pdf') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download White Paper</a>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- PRICING
      ============================== -->

      <!-- TEAM
      ============================== -->


      <!-- SKILLS
      ============================== -->


      <!-- TESTIMONIALS
      ============================== -->


      <!-- SUBSCRIBE
      ============================== -->


      <!-- CONTACT US
      ============================== -->


      <!-- FOOTER
      ============================== -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              &copy; 2015-2017 <a href="https://paymium.com" target="blank" >Paymium.com</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <div class="footer__social">
                <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&region=follow_link&screen_name=PierreNoizat&tw_p=followbutton" class="footer-social__link footer-social__link_twitter" target="blank" >
	
                  <i class="fa fa-twitter"></i>
                </a>

                <a href="https://fr-fr.facebook.com/Paymium" class="footer-social__link footer-social__link_facebook" target="blank" >
                  <i class="fa fa-facebook"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </footer>
