<%= form_for(@script, multipart: true) do |f| %>
  <% unless @script.title %>
  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title %></p>
  </div>
  <% end %>
  <% unless @script.id %>
  <div class="field" >
    <p><%= f.label 'Script' %></p>
    <p><span id="snippet" data-code ="salut"><%= f.select(:category, Script.categories.keys.map { |category| [category.titleize, category]}, {}, {:onChange=>"ready();"}) %></span></p>
  </div>
  <% end %>

	<div><pre style="width:600px"><code id="contrat"><%= @script.description %></code></pre></div>
</br>
	<div id="sub-form"></div>
</br>
	
	<% if @script.id %>
		<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start contract creation', :class => "btn btn-primary" %>
	<% end %>

<% end %>
</br>
<script>
var ready;
ready = function() {

	var codeSnippet = $('#snippet').data('code');
	var element = document.getElementById("contrat");
	//element.parentNode.removeChild(element);
	//document.body.appendChild(form);
	
	var form_field_value = $("#script_category").val()
	
	switch (form_field_value) {
	    case "time_locked_address":
	        codeSnippet = "&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP &#60;public key&#62; CHECKSIG";
	        break;
	    case "time_locked_2fa":
	        codeSnippet = "IF &#60;service public key&#62; CHECKSIGVERIFY&#10; ELSE &#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP&#10; ENDIF&#10; &#60;user public key&#62; CHECKSIG";
	        break;
	    case "contract_oracle":
			select = document.getElementById("error_header");
			if (select) {
				select.innerHTML="";
			}
			select = document.getElementsByClassName("message_line")[0];
			if (select) {
				select.innerHTML="";
			}
	        codeSnippet = "&#60;contract_hash&#62; DROP 2 &#60;user pubkey&#62; &#60;oracle pubkey&#62; 2 CHECKMULTISIG";
			break;
		case "hashed_timelock_contract":
			select = document.getElementById("error_header");
			if (select) {
				select.innerHTML="";
			}
			select = document.getElementsByClassName("message_line")[0];
			if (select) {
				select.innerHTML="";
			}
		    codeSnippet = "IF&#10; HASH160  &#60;hash160(S)&#62; EQUALVERIFY&#10; FALSE 2 &#60;AlicePubkey1&#62; &#60;BobPubkey1&#62;&#10; ELSE&#10; FALSE 2 &#60;AlicePubkey2&#62; &#60;BobPubkey2&#62;&#10; ENDIF&#10; 2  CHECKMULTISIG";
	}
	element.innerHTML = codeSnippet;
	console.log(codeSnippet);
	console.log(form_field_value);
};

$(document).ready(ready);
</script>