<%= form_for(@script, multipart: true) do |f| %>
  <% unless @script.title %>
  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title %></p>
  </div>
  <% end %>
  <% unless @script.id %>
  <div class="field" >
    <p><%= f.label 'Script' %></p>
    <p><span id="snippet" data-code ="Script chaincode unavailable." ><%= f.select(:category, Script.categories.keys.map { |category| [category.titleize, category]}, {}, {:onChange=>"ready();"}) %></span></p>
  </div>
  <% end %>

	<div><pre style="width:600px"><code id="contrat"><%= @script.description %></code></pre></div>
</br>
	<div id="subFormLine1">A transaction spending from this address cannot be included in a block until the set date and time has passed.</div>
	<div id="subFormLine2">We can be reasonably certain that any block in the chain was created within approximately two hours of the block’s timestamp.</div>
</br>
	
	<% if @script.id %>
		<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start contract creation', :class => "btn btn-primary" %>
	<% end %>

<% end %>
</br>
<script>
var ready;
ready = function() {

	var codeSnippet = $('#snippet').data('code');
	var element = document.getElementById("contrat");
	
	var form_field_value = $("#script_category").val()
	
	switch (form_field_value) {
	    case "timelocked_address":
	        codeSnippet = "&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP &#60;public key&#62; CHECKSIG";
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="A transaction spending from this address cannot be included in a block until the set date and time has passed.";
			}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="We can be reasonably certain that any block in the chain was created within approximately two hours of the block’s timestamp.";
			}
	        break;
	    case "timelocked_2fa":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="A transaction spending from this address cannot be included in a block until the set date and time has passed, unless the 2 required signatures are provided.";
			}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="After the set date and time has passed, the user's signature is sufficient to move the funds.";
			}
	        codeSnippet = "IF &#60;service public key&#62; CHECKSIGVERIFY&#10; ELSE &#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP&#10; ENDIF&#10; &#60;user public key&#62; CHECKSIG";
	        break;
	    case "contract_oracle":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="By signing this transaction, the oracle indicates her agreement that the contract conditions are met.";
						}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="The conditions are met when there is a match with the value of the contract parameters hashed in the contract hash.";
						}
	        codeSnippet = "&#60;contract_hash&#62; DROP 2 &#60;user pubkey&#62; &#60;oracle pubkey&#62; 2 CHECKMULTISIG";
			break;
		case "hashed_timelocked_contract":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="Bob must know S to use his key 1, otherwise he can only use his key 2. Alice does not know S.";
						}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="Bob has signed a timelocked refund to Alice with his key 2. Alice has signed a payment to Bob with her key 1. Bob must reveal S to cash out the payment.";
						}
			codeSnippet = "IF&#10;HASH160  &#60;hash160(S)&#62; EQUALVERIFY&#10;2 &#60;AlicePubkey1&#62; &#60;BobPubkey1&#62;&#10;ELSE&#10;2 &#60;AlicePubkey2&#62; &#60;BobPubkey2&#62;&#10;ENDIF&#10;2  CHECKMULTISIG";
			break;
		case "tumblebit_puzzle":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="In the Tumblebit puzzle solving protocol, Alice pays Bob through Tumbler, a trustless intermediary.";
						}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="The script is funded by Alice and can be spent to pay Bob if signed by Tumbler, knowing all ki, pre-images of hi, for i in 1..15.";
						}
			codeSnippet = "IF&#10;RIPEMD160  &#60;h1&#62; EQUALVERIFY&#10;...&#10;RIPEMD160  &#60;h15&#62; EQUALVERIFY&#10;&#60;TumblerPubkey&#62;CHECKSIG&#10;ELSE&#10;&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP &#60;AlicePubkey&#62; CHECKSIG&#10;ENDIF";
			break;
		case "tumblebit_escrow_contract":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="A transaction spending from this address cannot be included in a block until the set date and time has passed, unless the 2 required signatures are provided.";
				}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="After the set date and time has passed, the Tumbler's signature is sufficient to move the funds.";
				}
		    codeSnippet = "IF&#10;2 &#60;Tumbler&#62;&#60;Bob&#62; 2 CHECKMULTISIG&#10;ELSE&#10;&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP&#10;&#60;Tumbler&#62; CHECKSIG&#10;ENDIF";
		      break;			
			
		case "segwit_p2sh_p2wpkh":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="In the Tumblebit puzzle solving protocol, Alice pays Bob through Tumbler, a trustless intermediary.";
						}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="The script is funded by Alice and can be spent to pay Bob if signed by Tumbler, knowing all ki, pre-images of hi, for i in 1..15.";
						}
			codeSnippet = "0  &#60;hash160(compressed public key)&#62;";
		
	}
	element.innerHTML = codeSnippet;
	console.log(codeSnippet);
	console.log(form_field_value);
};

$(document).ready(ready);
</script>