<%= form_for(@script, multipart: true) do |f| %>
  <% unless @script.title %>
  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title %></p>
  </div>
  <% end %>
  <% unless @script.id %>
  <div class="field" >
    <p><%= f.label 'Script' %></p>
    <p><span id="snippet" data-code ="salut"><%= f.select(:category, Script.categories.keys.map { |category| [category.titleize, category]}, {}, {:onChange=>"ready();"}) %></span></p>
  </div>
  <% end %>

	<div><pre style="width:600px"><code id="contrat"><%= @script.description %></code></pre></div>
</br>
	<div id="sub-form"></div>
</br>
	
	<% if @script.id %>
		<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start contract creation', :class => "btn btn-primary" %>
	<% end %>

<% end %>
</br>