<%= form_for(@script, multipart: true) do |f| %>
  <% if @script.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
      <% @script.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title %></p></br></br>
  </div>

  <div class="field">
    <p><%= f.label 'Text' %></p>
    <p><%= f.text_field :text %></p></br></br>
  </div>

 <div class="field">
    <p><%= f.label 'Expiry' %></p>
    <p><%= f.date_select(:expiry_date, {:start_year => 2010, :end_year => Date.today.year, :default => @script.expiry_date, :use_two_digit_numbers => true}, {:style => "width: 90px;"}) %></p></br></br>
  </div>

<div class="actions">
	
	<% if @script.id %>
		<p><%= f.submit 'Update', :class => "btn btn-primary" %>
	<% else %>
		<p><%= f.submit 'Create', :class => "btn btn-primary" %>
	<% end %>
<% end %>

<%= form_for([@script, @script.public_keys.build]) do |f| %>
  <td><div class="field">
    <%= f.text_field :name, :style => "width:280px;" %>
  </div></td>
<td><div class="field">
    <%= f.text_field :compressed, :style => "width:280px;" %>
  </div></td>
	<td><div class="field">
	<%= f.hidden_field :script_id, :value => @script.id %>
  </div></td>
  <td><div class="actions">
    <%= f.submit "Add Compressed Public Key", :class => "btn btn-primary" %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                script_path, :class => 'btn' %></div>
  </td>
<% end %>