<td><%= link_to script.title, script %></td>
<td><%= category_of(script.category) %></td>
<td><%= script.hash_address %></td>
<% if user_admin? %>
<td><%= link_to "Edit", edit_script_path(script), :class => 'btn btn-xs btn-success' %></td>
<td><%= link_to "Delete", script_path(script), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger' %></td>
<% end %>