<p>Expiry: <strong><%= Time.at(@script.expiry_date.to_time.to_i).utc %></strong></p>

<p>Escrow Service (Compressed) Public Key: <strong><%= @script.oracle_1_pub_key %></strong></p>
<p>User (Compressed) Public Key: <strong><%= @script.oracle_2_pub_key %></strong></p>

<p>P2SH Address: <strong><%= @script.hash_address if @script %></strong></p>
<p>Unspent Output (Tx_id:index):  <%= @script.tx_hash if @script %> : <%= @script.index if @script %></br>
<p>Amount: <strong><%= @script.amount if @script %></strong></br>
	
<%= form_for(@script, url: url_for(controller: 'scripts', action: 'sign_tx'), multipart: true) do |f| %>
	<% if @script.errors.any? %>
		<div id="error_explanation">
	    <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>
	    <ul>
	      <% @script.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	    </div>
	<% end %>
	
	<%= f.hidden_field :tx_hash, :value => @script.tx_hash %>
	<%= f.hidden_field :index, :value => @script.index %>
	<%= f.hidden_field :amount, :value => @script.amount %>
	<%= f.hidden_field :confirmations, :value => @script.confirmations %>
	<% unless @script.expired? %>
	<div class="field">
	    <p><%= f.label 'Service Private Key (WIF compressed format)' %></p>
	    <p><%= f.text_field :oracle_1_priv_key, :style => "width:420px;", :placeholder => "Kyj2bKvR6UkhAU57xtTxCffVQFTZRyYLaWfR9hnBFdvMyTCdRv8m" %></p>
	</div>
	<% end %>
	<div class="field">
    	<p><%= f.label 'User Private Key (WIF compressed format)' %></p>
    	<p><%= f.text_field :oracle_2_priv_key, :style => "width:420px;", :placeholder => "L1ejpmscmjV9pqjJ6WwNpbnbMm7QgcmgNLUHFtDeaLbK3JM8ktKK" %></p>
  	</div>

	<div class="field">
    	<p><%= f.label 'Refund (Destination) Address' %></p>
    	<p><%= f.text_field :refund_address, :style => "width:420px;", :placeholder => "1DzNLsyrLweU6CFb4fhpxmrqxoYYt3iK6A" %></p>
  	</div>

	<%= f.submit 'Create Signed Transaction', :class => "btn btn-primary" %>
<% end %>
