<p>Expiry: <strong><%= Time.at(@script.expiry_date.to_time.to_i).utc %></strong></p>

<p>Tumbler (Compressed) Public Key: <strong><%= @script.oracle_1_pub_key %></strong></p>
<p>Bob (Compressed) Public Key: <strong><%= @script.bob_pub_key_1 %></strong></p>

<p>P2SH Address: <strong><%= @script.hash_address if @script %></strong></p>
<p>Unspent Output (Tx_id:index):  <%= @script.tx_hash if @script %> : <%= @script.index if @script %></br>
<p>Amount: <strong><%= @script.amount if @script %></strong></br>
	
<%= form_for(@script, url: url_for(controller: 'scripts', action: 'sign_tx'), multipart: true) do |f| %>
	
	<%= f.hidden_field :tx_hash, :value => @script.tx_hash %>
	<%= f.hidden_field :index, :value => @script.index %>
	<%= f.hidden_field :amount, :value => @script.amount %>
	<%= f.hidden_field :confirmations, :value => @script.confirmations %>
	<% unless @script.expired? %>
	<div class="field">
	    <p><%= f.label 'Tumbler Private Key (WIF format)' %></br>
	    <%= f.text_field :oracle_1_priv_key, :style => "width:420px;", :placeholder => "Kyj2bKvR6UkhAU57xtTxCffVQFTZRyYLaWfR9hnBFdvMyTCdRv8m" %></p>
	</div>
	<% end %>
	<div class="field">
    	<p><%= f.label 'Bob Private Key (WIF format)' %></br>
    	<%= f.text_field :bob_priv_key_1, :style => "width:420px;", :placeholder => "L1ejpmscmjV9pqjJ6WwNpbnbMm7QgcmgNLUHFtDeaLbK3JM8ktKK" %></p>
  	</div>

	<div class="field">
    	<p><%= f.label 'Refund (Destination) Address' %></br>
    	<%= f.text_field :refund_address, :style => "width:420px;", :placeholder => "1DzNLsyrLweU6CFb4fhpxmrqxoYYt3iK6A" %></p>
  	</div>

	<%= f.submit 'Create Signed Transaction', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>
<% end %>
