<p>Expiry: <strong><%= Time.at(@script.expiry_date.to_time.to_i).utc %></strong></p>
<p>h1: <strong><%= @script.contract[0..39] if @script.contract %></strong></br>
h2: <strong><%= @script.contract[40..79] if @script.contract %></strong></br>
h3: <strong><%= @script.contract[80..119] if @script.contract %></strong></br>
h4: <strong><%= @script.contract[120..159] if @script.contract %></strong></br>
h5: <strong><%= @script.contract[160..199] if @script.contract %></strong></br>
h6: <strong><%= @script.contract[200..239] if @script.contract %></strong></br>
h7: <strong><%= @script.contract[240..279] if @script.contract %></strong></br>
h8: <strong><%= @script.contract[280..319] if @script.contract %></strong></br>
h9: <strong><%= @script.contract[320..359] if @script.contract %></strong></br>
h10: <strong><%= @script.contract[360..399] if @script.contract %></strong></br>
h11: <strong><%= @script.contract[400..439] if @script.contract %></strong></br>
h12: <strong><%= @script.contract[440..479] if @script.contract %></strong></br>
h13: <strong><%= @script.contract[480..519] if @script.contract %></strong></br>
h14: <strong><%= @script.contract[520..559] if @script.contract %></strong></br>
h15: <strong><%= @script.contract[560..599]if @script.contract %></strong></p>
<p>Alice (Compressed) Public Key: <strong><%= @script.alice_pub_key_1.compressed if @script.alice_pub_key_1 %></strong></p>
<p>Tumbler (Compressed) Public Key: <strong><%= @script.oracle_1_pub_key.compressed if @script.oracle_1_pub_key %></strong></p>