<div class="container">
  <div class="row">
	<h3>Create Spending Transaction for <%= @script.title if @script.title %></h3>
	<p>Category: <strong><%= @script.category if @script.category %></strong></br>
	Script:</br><pre style="width:650px"><code> <%= @script.description if @script %></code></pre></p>
	
	<% case @script.category %>
  	<% when "timelocked_address" %>
		<%= render partial: "spending_tla" %>
  	<% when "timelocked_2fa" %>
    	<%= render partial: "spending_tl_2fa" %>
  	<% when "contract_oracle" %>
    	<%= render partial: "spending_contract_oracle" %>
  	<% when "hashed_timelocked_contract" %>
    	<%= render partial: "spending_htlc" %>
  	<% else %>
    	<%= render 'show' %>
	<% end %>

   </div>
</div>
</br>