<div class="container">
  <div class="row">
	<h3>Create Spending Transaction for <%= @script.title if @script.title %></h3>
	<p>Category: <strong><%= @script.category if @script.category %></strong></p>
	<p>Script:</br><pre style="width:650px"><code> <%= @script.description if @script %></code></pre></p>
	<% if ["time_locked_address", "time_locked_2fa"].include? @script.category %>
	<!--<p>Expiry: <%= @script.expiry_date if @script %></p>-->
	<p>Expiry: <strong><%= Time.at(@script.expiry_date.to_time.to_i).utc %></strong></p>
	<% end %>
	
	<% if @script.category == "contract_oracle" %>
	<!--<p>Expiry: <%= @script.expiry_date if @script %></p>-->
	<p>Contract: <strong><%= @script.contract %></strong></p>
	<p>Contract hash: <%= Digest::SHA256.hexdigest @script.contract if @script.contract %></p>
	<% end %>
	
	<% if @script.category == "time_locked_2fa" or @script.category == "contract_oracle" %>
		<% key = @public_keys.first %>
		<p>Escrow: <%= key.name if key %></p>
		<p>Escrow (Compressed) Public Key: <strong><%= key.compressed if key %></strong></p>
		<% key = @public_keys.last %>
		<p>User: <%= key.name if key %></p>
		<p>User (Compressed) Public Key: <strong><%= key.compressed if key %></strong></p>
	<% else %>
		<% @public_keys.each do |key| %>  	
			<p>Owner: <%= key.name if key %></p>
			<p>Compressed Public Key: <%= key.compressed if key %></p>
	 		<% end %>
	<% end %>
	<p>P2SH Address: <strong><%= @script.hash_address if @script %></strong></p>
	<p>Unspent Output (Tx_id:index):  <%= @script.tx_hash if @script %> : <%= @script.index if @script %></p>
	<p>Amount: <%= @script.amount if @script %></p>
	<p>Confirmations: <%= @script.confirmations if @script %></p>
	
	<%= form_for(@script, url: url_for(controller: 'scripts', action: 'create_signed_transaction'), multipart: true) do |f| %>
	  <% if @script.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>

	      <ul>
	      <% @script.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
		<%= f.hidden_field :tx_hash, :value => @script.tx_hash %>
		<%= f.hidden_field :index, :value => @script.index %>
		<%= f.hidden_field :amount, :value => @script.amount %>
		<%= f.hidden_field :confirmations, :value => @script.confirmations %>
		<% unless @script.expired? or @script.category == "time_locked_address" %>
	  		<div class="field">
	    		<p><%= f.label 'Service Private Key (WIF compressed format)' %></p>
	    		<p><%= f.text_field :oracle_1_priv_key, :style => "width:400px;" %></p>
	  		</div>
		<% end %>
		<div class="field">
    		<p><%= f.label 'User Private Key (WIF compressed format)' %></p>
    		<p><%= f.text_field :priv_key, :style => "width:400px;" %></p>
  		</div>

		<%= f.submit 'Display Transaction', :class => "btn btn-primary" %>
	<% end %>
   </div>
</div>
</br>