<div class="container">
  <div class="row">
	<h1>Edit Hashed Timelocked Contract # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
	
	<div class="field">
		<p><%= f.label 'Secret (S)' %></br>
		<%= f.text_field :contract, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key 1' %></br>
		<%= f.text_field :alice_pub_key_1, :style => "width:540px;", :placeholder => "023927B837A922696836E26399F759965328437F93AAFAF3E02767D22860C0FBA7" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key 2' %></br>
		<%= f.text_field :alice_pub_key_2, :style => "width:540px;", :placeholder => "02BE332AE534CC30FB84BA64817A748DBC9A9C9021463A645F5B3CF2AB4AEB0284" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Bob (compressed) Public Key 1' %></br>
		<%= f.text_field :bob_pub_key_1, :style => "width:540px;", :placeholder => "02808F45C3B1DEF4C9917D80ABD94D1DA271069C1CE227F8FA6D57E7D5FA836838" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Bob (compressed) Public Key 2' %></br>
		<%= f.text_field :bob_pub_key_2, :style => "width:540px;", :placeholder => "039DD14C371FBB1BCA9860942D14ED32897CF4ABF8312A6446EBF716774769441B" %></p>
	</div>
	
	<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>