<div class="container">
  <div class="row">
	<h1>Edit Tumblebit Puzzle # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
	
	<div class="field" id="contract_string">
	    <p><%= f.label 'Secret pre-image k1' %></br>
	  	<%= f.text_field :contract, :style => "width:540px;", :placeholder => "a" %></p>
		</div>
	
	<div class="field">
		<p><%= f.label 'Tumbler (compressed) Public Key' %></br>
		<%= f.text_field :oracle_1_pub_key, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key' %></br>
		<%= f.text_field :alice_pub_key_1, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
	    <p><%= f.label 'Expiry (UTC)' %></br>
		Present Time: <%= Time.now.utc %></p>
	    <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @script.expiry_date, :use_two_digit_numbers => true, :prompt => {:year => "year", :month => "month", :day => "day", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
	  </div>
	</br>
	<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>