<div class="container">
  <div class="row">
	<h1>Edit Hashed Timelocked Contract # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
	
	<div class="field">
		<p><%= f.label 'Secret (S)' %></br>
		<%= f.text_field :contract, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key 1' %></br>
		<%= f.text_field :alice_pub_key_1, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key 2' %></br>
		<%= f.text_field :alice_pub_key_2, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Bob (compressed) Public Key 1' %></br>
		<%= f.text_field :bob_pub_key_1, :style => "width:540px;" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Bob (compressed) Public Key 2' %></br>
		<%= f.text_field :bob_pub_key_2, :style => "width:540px;" %></p>
	</div>
	
	<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>