<div class="container">
  <div class="row">
	<h1>Edit Tumblebit Puzzle # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
		<%= f.hidden_field :contract , :value => @script.contract %>
	<% unless @script.contract.blank? %>
		<p>h1: <strong><%= @script.contract[0..39] if @script.contract %></strong></br>
		h2: <strong><%= @script.contract[40..79] if @script.contract %></strong></br>
		h3: <strong><%= @script.contract[80..119] if @script.contract %></strong></br>
		h4: <strong><%= @script.contract[120..159] if @script.contract %></strong></br>
		h5: <strong><%= @script.contract[160..199] if @script.contract %></strong></br>
		h6: <strong><%= @script.contract[200..239] if @script.contract %></strong></br>
		h7: <strong><%= @script.contract[240..279] if @script.contract %></strong></br>
		h8: <strong><%= @script.contract[280..319] if @script.contract %></strong></br>
		h9: <strong><%= @script.contract[320..359] if @script.contract %></strong></br>
		h10: <strong><%= @script.contract[360..399] if @script.contract %></strong></br>
		h11: <strong><%= @script.contract[400..439] if @script.contract %></strong></br>
		h12: <strong><%= @script.contract[440..479] if @script.contract %></strong></br>
		h13: <strong><%= @script.contract[480..519] if @script.contract %></strong></br>
		h14: <strong><%= @script.contract[520..559] if @script.contract %></strong></br>
		h15: <strong><%= @script.contract[560..599]if @script.contract %></strong></p>
	<% else %>
	<div class="field" id="contract_string">
	    <%= f.label 'Secret pre-image  k1 ' %> 
	  	<%= f.text_field :secret_k1, :style => "width:416px;", :placeholder => "a" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k2 ' %> 
		<%= f.text_field :secret_k2, :style => "width:416px;", :placeholder => "b" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k3 ' %> 
		<%= f.text_field :secret_k3, :style => "width:416px;", :placeholder => "c" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k4 ' %> 
		<%= f.text_field :secret_k4, :style => "width:416px;", :placeholder => "d" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k5 ' %> 
		<%= f.text_field :secret_k5, :style => "width:416px;", :placeholder => "e" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k6 ' %> 
		<%= f.text_field :secret_k6, :style => "width:416px;", :placeholder => "f" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k7 ' %> 
		<%= f.text_field :secret_k7, :style => "width:416px;", :placeholder => "g" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k8 ' %> 
		<%= f.text_field :secret_k8, :style => "width:416px;", :placeholder => "h" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image  k9 ' %> 
		<%= f.text_field :secret_k9, :style => "width:416px;", :placeholder => "i" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k10' %> 
		<%= f.text_field :secret_k10, :style => "width:410px;", :placeholder => "j" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k11' %> 
		<%= f.text_field :secret_k11, :style => "width:410px;", :placeholder => "k" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k12' %> 
		<%= f.text_field :secret_k12, :style => "width:410px;", :placeholder => "l" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k13' %> 
		<%= f.text_field :secret_k13, :style => "width:410px;", :placeholder => "m" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k14' %> 
		<%= f.text_field :secret_k14, :style => "width:410px;", :placeholder => "n" %>
	</div>
	<div class="field" id="contract_string">
		<%= f.label 'Secret pre-image k15' %> 
		<%= f.text_field :secret_k15, :style => "width:410px;", :placeholder => "o" %>
	</div>
	<% end %>
	
	</br>
	<div class="field">
		<p><%= f.label 'Tumbler (compressed) Public Key' %></br>
		<%= f.text_field :oracle_1_pub_key, :style => "width:540px;", :placeholder => "02259B57015E60DE464E1D83C375BDD01D272290C51CEDE0B794301DE1B7770C7B" %></p>
	</div>
	
	<div class="field">
		<p><%= f.label 'Alice (compressed) Public Key' %></br>
		<%= f.text_field :alice_pub_key_1, :style => "width:540px;", :placeholder => "023927B837A922696836E26399F759965328437F93AAFAF3E02767D22860C0FBA7" %></p>
	</div>
	
	<div class="field">
	    <p><%= f.label 'Expiry (UTC)' %></br>
		Present Time: <%= Time.now.utc %></p>
	    <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @script.expiry_date, :use_two_digit_numbers => true, :prompt => {:year => "year", :month => "month", :day => "day", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
	  </div>
	</br>
	<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>