<div class="container">
  <div class="row">
	<h1>Edit Time Locked Address # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
	
	<div class="field">
		<p><%= f.label 'User (compressed) Public Key' %></br>
		<%= f.text_field :oracle_1_pub_key, :style => "width:540px;", :default => @script.oracle_1_pub_key, :placeholder => "02BE332AE534CC30FB84BA64817A748DBC9A9C9021463A645F5B3CF2AB4AEB0284" %></p>
	</div>
	
	<div class="field">
    <p><%= f.label 'Expiry' %></p>
	<p>Present Time: <%= Time.now.strftime("%Y-%b-%d - %H:%M") %></p>
    <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @script.expiry_date, :use_two_digit_numbers => true, :prompt => {:day => "day", :month => "month", :year => "year", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
  </div>
	
	<%= f.submit 'Update contract with parameters', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>