<div class="container">
  <div class="row">
	<h1>Edit SegWit P2SH P2WPKH Address # <%= @script.id if @script %>: <%= @script.title if @script %></h1>
	<div><pre style="width:600px"><code><%= @script.description %></code></pre></div>
	<%= form_for(@script, multipart: true) do |f| %>
	
	<div class="field">
		<p><%= f.label 'Compressed Public Key' %></br>
		<%= f.text_field :alice_pub_key_1, :style => "width:540px;", :placeholder => "023927B837A922696836E26399F759965328437F93AAFAF3E02767D22860C0FBA7" %></p>
	</div>
	
	<%= f.submit 'Update', :class => "btn btn-primary" %> |<%= link_to "Cancel", @script %>

	<% end %>
</br>
   </div>
</div>