<%= form_for(@payment_request, multipart: true) do |f| %>
  <% unless @payment_request.title %>
  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title %></p>
  </div>
  <% end %>

	<div><pre style="width:600px"><code id="contrat"><%= @payment_request.description %></code></pre></div>
</br>
	<div id="subFormLine1">A transaction spending from this address cannot be included in a block until the set date and time has passed.</div>
	<div id="subFormLine2">We can be reasonably certain that any block in the chain was created within approximately two hours of the block’s timestamp.</div>
</br>
	
	<% if @payment_request.id %>
		<%= f.submit 'Update Payment Request with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start Request Creation', :class => "btn btn-primary" %>
	<% end %>
	 | <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        payment_requests_path, :class => 'btn' %>
<% end %>
</br>
<script>
var ready;
ready = function() {

	var codeSnippet = $('#snippet').data('code');
	var element = document.getElementById("contrat");
	
	var form_field_value = $("#script_category").val()
	
	switch (form_field_value) {

		case "tumblebit_puzzle":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="In the Tumblebit puzzle solving protocol, Alice pays Bob through Tumbler, a trustless intermediary.";
						}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="The script is funded by Alice and can be spent to pay Bob if signed by Tumbler, knowing all ki, pre-images of hi, for i in 1..15.";
						}
			codeSnippet = "IF&#10;RIPEMD160  &#60;h1&#62; EQUALVERIFY&#10;...&#10;RIPEMD160  &#60;h15&#62; EQUALVERIFY&#10;&#60;TumblerPubkey&#62;CHECKSIG&#10;ELSE&#10;&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP &#60;AlicePubkey&#62; CHECKSIG&#10;ENDIF";
			break;
		case "tumblebit_escrow_contract":
			select = document.getElementById("subFormLine1");
			if (select) {
				select.innerHTML="A transaction spending from this address cannot be included in a block until the set date and time has passed, unless the 2 required signatures are provided.";
				}
			select = document.getElementById("subFormLine2");
			if (select) {
				select.innerHTML="After the set date and time has passed, the Tumbler's signature is sufficient to move the funds.";
				}
		    codeSnippet = "IF&#10;2 &#60;Tumbler&#62;&#60;Bob&#62; 2 CHECKMULTISIG&#10;ELSE&#10;&#60;expiry time&#62; CHECKLOCKTIMEVERIFY DROP&#10;&#60;Tumbler&#62; CHECKSIG&#10;ENDIF";
		
	}
	element.innerHTML = codeSnippet;
	console.log(codeSnippet);
	console.log(form_field_value);
};

$(document).ready(ready);
</script>