<div class="container">
  <div class="row">
	<h3>Payment Request # <%= @payment_request.id if @payment_request %>: <%= @payment_request.title if @payment_request.title %></h3>
	<p>Script:</p><pre style="width:600px"><code><%= @payment_request.description if @payment_request %></code></pre>

	<p>Bob (Compressed) Public Key: <strong><%= @payment_request.bob_public_key %></strong></p>
	
	<% if @payment_request.tumbler_public_key.blank? %>
	<%= form_for(@payment_request, multipart: true) do |f| %>
	<table class="table">
    	<tbody>
  		<tr>
			<td><div class="field">
				<p><%= f.label 'Tumbler (compressed) Public Key' %></br>
				<%= f.text_field :tumbler_public_key, :style => "width:540px;", :placeholder => "02BE332AE534CC30FB84BA64817A748DBC9A9C9021463A645F5B3CF2AB4AEB0284" %></p>
			</div></td>
		</tr>
		<tr>
			<td><div class="field">
		    <p><%= f.label 'Expiry' %></p>
			<p>Present Time: <%= Time.now.strftime("%Y-%b-%d - %H:%M") %></p>
		    <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @payment_request.expiry_date, :use_two_digit_numbers => true, :prompt => {:day => "day", :month => "month", :year => "year", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
		  </div></td>
		</tr>
		<tr>
  			<td><div class="actions">
    		<%= f.submit "Add Tumbler's Public Key", :class => "btn btn-primary" %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                payment_requests_path, :class => 'btn' %></div></td>
  		</tr>
	<% end %>
    	</tbody>

	</table>
	<% else %>
		<p>Expiry: <strong><%= Time.at(@payment_request.expiry_date.to_time.to_i).utc %></strong></br>
		Expiry in seconds since epoch time (1/1/1970): <%= @payment_request.expiry_date.to_time.to_i %></p>
		<p>Tumbler (Compressed) Public Key: <strong><%= @payment_request.tumbler_public_key %></strong></p>
		<p>Payment Request Address: <strong><%= @payment_request.hash_address if @payment_request %></strong></p>
		<% if @payment_request.aasm_state == "step1" %>
			<p><%=link_to "Bob Checks Tumbler Fake Epsilon", bob_step_2_payment_request_path(@payment_request), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payment_requests_path, :class => 'btn' %></p>
		<% end %>
		<% if @payment_request.aasm_state == "step2" %>
			<p><%=link_to "Bob Checks Tumbler Fake Epsilon", bob_step_2_payment_request_path(@payment_request), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payment_requests_path, :class => 'btn' %></p>
		<% end %>
		<% if @payment_request.aasm_state == "step4" %>
			<p>Bob Real Indices: <pre style="width:600px"><code><%= @payment_request.real_indices if @payment_request %></code></pre></p>
		<% end %>
		<% if @payment_request.aasm_state == "step8" %>
			<p><%=link_to "Bob Checks Tumbler Fake Epsilon", bob_step_8_payment_request_path(@payment_request), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payment_requests_path, :class => 'btn' %></p>
		<% end %>
		
		<% if @payment_request.aasm_state == "step10" %>
			<p><%=link_to "Bob Checks RSA Quotients", bob_step_10_payment_request_path(@payment_request), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payment_requests_path, :class => 'btn' %></p>
		<% end %>
		
		<% if @payment_request.aasm_state == "step12" %>
			<% if @payment_request.solution %>
				<p>Puzzle solution: <strong><%= @payment_request.solution %></strong></p>
				<p><%=link_to "Bob Checks Puzzle Solution", complete_payment_request_path(@payment_request), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payment_requests_path, :class => 'btn' %></p>
			<% else %>
			<p>Puzzle y sent to Alice: <pre style="width:600px"><code><%= @payment_request.y %></code></pre></p>
			<%= form_for(@payment_request, multipart: true) do |f| %>
			<table class="table">
		    	<tbody>
		  		<tr>
					<td><div class="field">
						<p><%= f.label 'Puzzle solution received from Alice' %></br>
						<%= f.text_field :solution, :style => "width:540px;", :placeholder => "52f4b8903ad62f13d0e3402947805f811e6d0b8078c88ea41495ed2193ab1867d6f388c11fb70454c7405e7052ea4795a419863abbadffc2e368e111341f2fb0" %></p>
					</div></td>
				</tr>
				<tr>
		  			<td><div class="actions">
		    		<%= f.submit "Save solution", :class => "btn btn-primary" %> | 
					<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		                payment_requests_path, :class => 'btn' %></div></td>
		  		</tr>
			<% end %>
		    	</tbody>

			</table>
			<% end%>
		<% end %>
		
		<% if @payment_request.aasm_state == "completed" %>
			<p>Puzzle solution: <strong><%= @payment_request.solution %></strong></p>
			<p>Epsilon: <strong><%= (@payment_request.solution.to_i(16)/@payment_request.r.to_i).to_s(16) %></strong></p>
			<p>Payout Tx:</p> <pre style="width:600px"><code><%= @payment_request.payout_tx %></code></pre>
		<% end %>
		
	<% end %>

	

	</div>
</div>
