<div class="container">
  <div class="row">
	<h3>Tree # <%= @tree.id if @tree %></h3>
	<p><%= image_tag @tree.avatar.url(:thumb) if @tree.avatar.exists? %></p>
	<p><td><%= link_to 'Download json file', download_json_tree_path(@tree), :class => "btn btn-primary btn-xs" %></td>
	<td><%= link_to 'Tree graph', display_tree_path(@tree), :class => 'btn btn-default btn-xs btn-success' %></td></p>
	<p><h4>Search for your account with its access key: </h4>

	<%= form_tag(leaf_nodes_path, :method => "get", id: "search-form") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Access key", style: "width:300px;" %>
	  <%= submit_tag "Search", :name => nil, :class => 'btn btn-default btn-xs' %>
	<% end %></p>
	<p>Name: <%= @tree.name if @tree.name %></p>
	<p>Root hash: <%= @tree.root_hash if @tree %></p>
	<p>Height: <%= @tree.height if @tree %></p>
	<p>Total: <%= number_with_precision(@tree.total, :precision => 2) if @tree %></p>
	<p><b><%= @leaf_nodes.count %> Leaves:</b></p>
    <div class="column">
      <table class="table">
        <tbody>
			<th>Id</th>
			<!--<th>Name</th>-->
			<!--<th>Credit</th>-->
			<!--<th>Nonce</th>-->
			<th>Hash</th>
			<th>Path to root</th>
			<% if @leaf_nodes %>
				
				<% @leaf_nodes.each do |leaf| %>
				            	<tr>
				              	<%= render leaf %>
				            	</tr>
				          		<% end %>
				
			<% else %>
			<tr>
          	File is not finished processing: please refresh the page.
        	</tr>
			<% end %>
        </tbody>
		
      </table>
	<div class='apple_pagination'><%= will_paginate @leaf_nodes %></div>
    </div>
	
  </div>
</div>

<% if @nodes.count < 129 %>
<div class="container">
	<div class="row">
	<p><b><%= @nodes.count %> Nodes:</b></p>
    <div class="column">
      <table class="table">
        <tbody>
			<th>Id</th>
			<th>Left Id</th>
			<th>Right Id</th>
			<th>Hash</th>
			<th>Height</th>
			<th>Sum</th>
			<th>Node path to root</th>
          	<% @nodes.each do |node| %>
            <tr>
              <%= render node %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>
<% end %>
