<div class="container">
  <div class="row">
    <h3><%= link_to 'Tree', display_tree_path(@tree) %> # <%= @tree.id if @tree %></h3>
	<!--<p><%= image_tag @tree.avatar.url(:square) %></p>-->
	<p>Name: <%= @tree.name if @tree.name %></p>
	<p>Root hash: <%= @tree.root_hash if @tree %></p>
	<p>Total: <%= @tree.total if @tree %></p>
	<p><b><%= @leaf_nodes.count %> Leaves:</b></p>
    <div class="column">
      <table class="table">
        <tbody>
			<th>Id</th>
			<th>Name</th>
			<th>Credit</th>
			<th>Nonce</th>
			<th>Hash</th>
			<th>Height</th>
			<% if @leaf_nodes %>
          		<% @leaf_nodes.each do |leaf| %>
            	<tr>
              	<%= render leaf %>
            	</tr>
          		<% end %>
			<% else %>
			<tr>
          	File is not finished processing: please refresh the page.
        	</tr>
			<% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>


<div class="container">
	<div class="row">
	<p><b><%= @nodes.count %> Nodes:</b></p>
    <div class="column">
      <table class="table">
        <tbody>
			<th>Id</th>
			<th>Left</th>
			<th>Right</th>
			<th>Hash</th>
			<th>Height</th>
			<th>Sum</th>
          	<% @nodes.each do |node| %>
            <tr>
              <%= render node %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>
