<div class="container">
  <div class="row">
	<h3>Tumblebit (Alice) Puzzle # <%= @payment.id %></h3>
	<p>P2SH Address: <strong><%= @payment.hash_address %></strong></p>

	<p>Expiry: <strong><%= Time.at(@payment.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @payment.expiry_date.to_time.to_i %></p>
	
	<p>Puzzle y: <pre style="width:600px"><code><%= @payment.y %></code></pre></p>
	<p>Blinding factors r: <pre style="width:600px"><code><%= @payment.r_values %></code></pre></p>
	<p>Address funded by Alice: <strong><%= BTC::Key.new(wif:@payment.alice_private_key).address.to_s %></strong></p>
	<p>Puzzle Transaction: <pre style="width:600px"><code><%= @payment.puzzle_transaction %></code></pre></p>
		</br>
	
	</div>
</div>
