<div class="container">
  <div class="row">
	<h3>Tumblebit (Alice) Puzzle # <%= @payment.id %></h3>
	<p>P2SH Address: <strong><%= @payment.hash_address %></strong></p>

	<p>Expiry: <strong><%= Time.at(@payment.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @payment.expiry_date.to_time.to_i %></p>
	
	<p>Real k values:</p>
	<% for i in 0..14 %>
		<p><strong><%= @real_k[i] %></strong></p>
	<% end %>
	
		<p>Raw transaction paying Tumbler and containing real k values so Alice gets them when tx is broadcast:</p>
		<pre style="width:600px"><code><%= @payment.signed_tx %></code></pre>
		</br>
	
	</div>
</div>
