<div class="container">
  <div class="row">
<h3> Send a New Payment</h3>
<%= form_for(@payment, multipart: true) do |f| %>
<p>Alice Public Key: <%= @payment.alice_public_key %></p>
<% @payment.real_indices.each do |real| %>
    <%= f.hidden_field :real_indices, :multiple => true, :value => real %>
<% end %>
<%= f.hidden_field :key_path , :value => @payment.key_path %>
	
	<% if @payment.id %>
		<%= f.submit 'Update payment with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start Payment Process', :class => "btn btn-primary" %>
	<% end %>
	 | <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        payments_path, :class => 'btn' %>
<% end %>
</br>
	</div>
</div>