<div class="container">
  <div class="row">
<h3> Send a New Payment</h3>
<%= form_for(@payment, multipart: true) do |f| %>
<p>Alice Public Key: <%= @payment.alice_public_key %></p>
<div class="field">
	<p><%= f.label 'Tumbler (compressed) Public Key' %></br>
	<%= f.text_field :tumbler_public_key, :style => "width:540px;", :placeholder => "02BE332AE534CC30FB84BA64817A748DBC9A9C9021463A645F5B3CF2AB4AEB0284" %></p>
</div>

	<div class="field">
  <p><%= f.label 'Expiry' %></p>
	<p>Present Time: <%= Time.now.strftime("%Y-%b-%d - %H:%M") %></p>
  <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @payment.expiry_date, :use_two_digit_numbers => true, :prompt => {:day => "day", :month => "month", :year => "year", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
</div>
	
	<% if @payment.id %>
		<%= f.submit 'Update payment with parameters', :class => "btn btn-primary" %>
	<% else %>
		<%= f.submit 'Start Payment Process', :class => "btn btn-primary" %>
	<% end %>
	 | <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        payments_path, :class => 'btn' %>
<% end %>
</br>
	</div>
</div>