<div class="container">
  <div class="row">
<h3> Send a New Payment</h3>
<%= form_for(@payment, multipart: true) do |f| %>
<p>Alice Public Key: <%= @payment.alice_public_key %></p>
<%= f.hidden_field :expiry_date , :value => @payment.expiry_date %>
<%= f.hidden_field :real_indices , :value => @payment.real_indices %>
<%= f.hidden_field :key_path , :value => @payment.key_path %>
	<div class="field">
  <p><%= f.label 'Expiry' %></p>
	<p>Present Time: <%= Time.now.strftime("%Y-%b-%d - %H:%M") %></p>
  <p><%= f.datetime_select(:expiry_date, {:start_year => Date.today.year, :end_year => 2024, :default => @payment.expiry_date, :use_two_digit_numbers => true, :prompt => {:day => "day", :month => "month", :year => "year", :hour => "hour", :minute => "minute"}}, {:style => "width: 80px;"}) %></p>
</div>
	
	<% if @payment.id %>
		<%= f.submit 'Update payment with parameters', :class => "btn btn-primary" %>
	<% else %>
	<div class="field">
		<p><%= f.label 'Tumbler Public Key' %></br>
		<%= f.text_field :tumbler_public_key, :style => "width:540px;", :placeholder => "02893204e76671e558ce40d9784422d5b3a1990c3975ffa288fc98c987a590a0f9" %></p>
	</div>
		<%= f.submit 'Start Payment Process', :class => "btn btn-primary" %>
	<% end %>
	 | <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        payments_path, :class => 'btn' %>
<% end %>
</br>
	</div>
</div>