<div class="container">
  <div class="row">
	<h3>Payment # <%= @payment.id %>: <%= @payment.title %></h3>
	<p>P2SH Address: <strong><%= @payment.hash_address %></strong></p>
	<p>Tumbler's Public Key: <strong><%= @payment.tumbler_public_key %></strong></p>
	<p>Alice Public Key: <strong><%= @payment.alice_public_key %></strong></p>

	<p>Expiry: <strong><%= Time.at(@payment.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @payment.expiry_date.to_time.to_i %></p>
	</br>
		
	<% if @payment.y.blank? %>
		<%= form_for(@payment, multipart: true) do |f| %>
			<div class="field">
			   <p><%= f.label 'Alice Puzzle Access Code y' %></p>
			   <p><%= f.text_field :y, :style => "width:540px;", :placeholder => "b2aeac0d6d50bf63b01522936b9bcf58ef7dd196cefff6ba80d470d125e4f24501cc2305dca1a34e344b59ae1a8251e47a1c2da52fd7630303856cbf729ec0ffe2b27365b3cd49f2e4bbedd2a4b7b4563181a1073e6b099fffb1a9beb5f5710c1afeff06ee38b4250bd069dfc4bcddc47495837272a35268e794e6c5919dc136" %></p>
			 </div>
			
			<%= f.submit 'Update Payment with parameters', :class => "btn btn-primary" %>
		<% end %>
	<% end %>
	
	<% if @payment.aasm_state == "step1"%>
		<p><%=link_to 'Start Payment Process with Tumbler', alice_step_1_payment_path(@payment), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	</br>
	<% if @payment.aasm_state == "step7"%>
		<p><%=link_to 'Check 285 fake k values sent by Tumbler', alice_step_7_payment_path(@payment), :class => "btn btn-primary" %>  | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	<% if @payment.aasm_state == "step8"%>
	<p>Puzzle y: <pre style="width:600px"><code><%= @payment.y %></code></pre></p>
	<p>Real blinding factors r: <pre style="width:600px"><code><%= @payment.r_values %></code></pre></p>
	<p>Address funded by Alice: <strong><%= BTC::Key.new(wif:@payment.alice_private_key).address.to_s %></strong></p>
	<p>Puzzle Transaction: <pre style="width:600px"><code><%= @payment.puzzle_transaction %></code></pre></p>
	<p>Puzzle Transaction Script: <pre style="width:600px"><code><%= @payment.funding_script %></code></pre></p>
	<p><%=link_to 'Get puzzle solution', alice_step_11_payment_path(@payment), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	<% if @payment.aasm_state == "completed"%>
	<p>Puzzle y: <pre style="width:600px"><code><%= @payment.y %></code></pre></p>
	<p>Puzzle solution y**d: <pre style="width:600px"><code><%= @payment.solution %></code></pre></p>
	<% end %>
	</br>
	
	
	</div>
</div>
