<div class="container">
  <div class="row">
	<h3>Payment # <%= @payment.id %>: <%= @payment.title %></h3>
	<p>P2SH Address: <strong><%= @payment.hash_address %></strong></p>
	<p>Tumbler's Public Key: <strong><%= @payment.tumbler_public_key %></strong></p>
	<p>Alice Public Key: <strong><%= @payment.alice_public_key %></strong></p>

	<p>Expiry: <strong><%= Time.at(@payment.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @payment.expiry_date.to_time.to_i %></p>
	</br>
	<% if @payment.tumbler_public_key.blank? %>
		<%= form_for(@payment, multipart: true) do |f| %>

		<div class="field">
			<p><%= f.label 'Tumbler Public Key' %></br>
			<%= f.text_field :tumbler_public_key, :style => "width:540px;", :placeholder => "02893204e76671e558ce40d9784422d5b3a1990c3975ffa288fc98c987a590a0f9" %></p>
		</div>

		<%= f.submit 'Update Payment with parameters', :class => "btn btn-primary" %>

		<% end %>
	<% end %>
	
	<% if @payment.aasm_state == "step1"%>
		<p><%=link_to 'Generate 300 Beta Values', alice_step_1_payment_path(@payment), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	</br>
	<% if @payment.aasm_state == "step5"%>
		<p><%=link_to 'Process 300 (c,h) couples', alice_step_5_payment_path(@payment), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	<% if @payment.aasm_state == "step7"%>
		<p><%=link_to 'Check 285 fake k values sent by Tumbler', alice_step_7_payment_path(@payment), :class => "btn btn-primary" %>  | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	<% if @payment.aasm_state == "step8"%>
	<p>Puzzle y: <pre style="width:600px"><code><%= @payment.y %></code></pre></p>
	<p>Real blinding factors r: <pre style="width:600px"><code><%= @payment.r_values %></code></pre></p>
	<p>Puzzle Transaction Address funded by Alice: <pre style="width:600px"><code><%= @payment.puzzle_transaction_address %></code></pre></p>
	<p>Puzzle Transaction Script: <pre style="width:600px"><code><%= @payment.puzzle_transaction_script %></code></pre></p>
	<p><%=link_to 'Get puzzle solution', alice_step_11_payment_path(@payment), :class => "btn btn-primary" %> | <%= link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn' %></p>
	<% end %>
	<% if @payment.aasm_state == "completed"%>
	<p>Puzzle y: <pre style="width:600px"><code><%= @payment.y %></code></pre></p>
	<p>Puzzle solution y**d: <pre style="width:600px"><code><%= @solution %></code></pre></p>
	<% end %>
	</br>
	
	
	</div>
</div>
