<div class="container">
  <div class="row">
	<h3>Payment # <%= @payment.id %>: <%= @payment.title %></h3>
	<p>P2SH Address: <strong><%= @payment.hash_address %></strong></p>
	<p>Bob's Address: <strong><%= @payment.refund_address %></strong></p>

	<p>Expiry: <strong><%= Time.at(@payment.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @payment.expiry_date.to_time.to_i %></p>
	
	<p><a href="<%= products_path('kvaluesd4735e.csv') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download File with Tumbler 300 k values </a> | <%=link_to "Alice checks Tumbler's k values", sender_checks_k_values_payment_path, :class => "btn btn-primary" %></p>
	
	</div>
</div>
