<td><%= leaf_node.id %></td>
<!--<td><%= link_to leaf_node.name, leaf_node %></td>-->
<!--<td><%= number_with_precision(leaf_node.credit, :precision => 2) %></td>-->
<!--<td><%= leaf_node.nonce %></td>-->
<td><%= leaf_node.leaf_hash %></td>
<td><%= leaf_node.leaf_path %></td>

<!--<td><%= link_to "Edit", edit_leaf_node_path(leaf_node), :class => 'btn btn-default btn-xs btn-success' %></td>-->
<!--<td><%= link_to "Delete", leaf_node_path(leaf_node), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs btn-danger' %></td>-->