<%# add navigation links to this file %>

<li class="active"><a href="<%= root_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >Home</a></li>
  <li><a href="<%= page_path('about') %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >About</a></li>
  <li><a href="<%= new_script_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >New Contract</a></li>
<li><a href="<%= scripts_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >Contracts</a></li>
<% if user_signed_in? %>
  <li><a href="<%= signout_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >Sign out</a></li>
<% else %>
  <li><a href="<%= signin_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >Sign in</a></li>
<% end %>
<% if user_signed_in? %>
  <li><a href="<%= users_path %>" style="color:#4682b4" onMouseOver="this.style.color='#42aef3'" onMouseOut="this.style.color='#4682b4'" >Users</a></li>
<% end %>
  