<div class="container">
  <div class="row">
	<h3>Tumblebit Puzzle # <%= @puzzle.id if @puzzle %>: <%= @script.title if @script %></h3>
	<p>P2SH Address: <strong><%= @funded_address %></strong></p>
	<p>P2SH Tx ID: <strong><%= @puzzle.escrow_txid if @puzzle %></strong></p>

	<p>Expiry: <strong><%= Time.at(@puzzle.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @puzzle.expiry_date.to_time.to_i %></p>
	

	<p>Puzzle y:</p><pre style="width:600px"><code><%=  @puzzle.y.to_i.to_s(16) %></code></pre>
	<p>Tumbler encrypted signature:</p><pre style="width:600px"><code><%= @puzzle.encrypted_signature %></code></pre>
	
	<p>Tumbler RSA Public Key:</p><pre style="width:600px"><code><%= $TUMBLER_RSA_PUBLIC_KEY.to_s(16) %></code></pre>
	
		<p><a href="<%= products_path('beta_values_33J92v6eddniyzq49CVMGmufp5AHxkb8Gj.csv') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download File with 84 beta values for Tumbler </a></p>
	
	</div>
</div>
