<div class="container">
  <div class="row">
	<h3>Tumblebit Puzzle # <%= @puzzle.id if @puzzle %>: <%= @script.title if @script %></h3>
	<p>P2SH Address: <strong><%= @funded_address %></strong></p>
	<p>P2SH Tx ID: <strong><%= @puzzle.escrow_txid if @puzzle %></strong></p>

	<p>Expiry: <strong><%= Time.at(@puzzle.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @puzzle.expiry_date.to_time.to_i %></p>
	

	<p>Puzzle y:</p><pre style="width:600px"><code><%=  @puzzle.y %></code></pre>
	<p>Tumbler encrypted signature:</p><pre style="width:600px"><code><%= @puzzle.encrypted_signature %></code></pre>
	
	<p>Tumbler RSA Public Key:</p><pre style="width:600px"><code><%= $TUMBLER_RSA_PUBLIC_KEY.to_s(16) %></code></pre>
	
	<p><h4>Enter your public key</h4>
		<%= form_for(@puzzle, multipart: true) do |f| %>

		<div class="field">
			<p><%= f.label 'Alice (Compressed) Public Key' %></br>
			<%= f.text_field :alice_public_key, :style => "width:540px;", :placeholder => "026964dcab435d3e3d2cb046e28caf8566ada35233a68b65a9769ee229a4f99003" %></p>
		</div>

		<%= f.submit 'Update Puzzle', :class => "btn btn-primary" %>

		<% end %></p>
	
	</div>
</div>
