<div class="container">
  <div class="row">
	<h3>Tumblebit Escrow Contract # <%= @script.id if @script %>: <%= @script.title if @script %></h3>
	<p>P2SH Address: <strong><%= @script.hash_address if @script %></strong></p>
	<p>Bob's Address: <strong><%= @script.refund_address if @script %></strong></p>

	<p>Expiry: <strong><%= Time.at(@script.expiry_date.to_time.to_i).utc %></strong></br>
	Expiry in seconds since epoch time (1/1/1970): <%= @script.expiry_date.to_time.to_i %></p>
	
	<p><a href="<%= products_path('chvaluesd4735e.csv') %>" class="btn btn-lg btn-primary heading__btn wow fadeInUp" >Download File with Tumbler 300 (c,h) couples </a></p>
	
	</div>
</div>
